.overflowToggler.container
{
    position: relative;
    padding-top: 5px;
    padding-left: 5px;
    word-break: break-word;
}

.overflowToggler.container.open
{
    max-height: none;
}

.overflowToggler.container.open .content
{
    max-height: none !important;
    overflow: initial;
    padding-bottom: 12px; /*should match the height of .jiraListItemContentToggler*/
}

.overflowToggler.content
{
    overflow: hidden;
}

.contentSpacer, .toggler
{
    height: 12px;
}

.toggler
{
    position: absolute;
    width: calc(100% - 5px);
    bottom: 0;
    cursor: pointer;
    border-top: 1px solid #bbb;
        
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.toggler:hover
{
    background-color: #e0e0e0;
}

.toggler:active
{
    background-color: #d0d0d0;
}

.toggler.open .toggleIcon
{
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #555;
    overflow: hidden;
}

.toggler.closed .toggleIcon
{
    margin-bottom: 8px;
}
